body {
    background-color: rgba(102, 110, 111, 0.38);
    margin: 0;
    font-family: "Calibri Light";
    margin-bottom: 10%;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    float: left;
    padding-left: 10px;
}

.grid {
    text-align: center;
    /*margin: 0 auto;*/
}

.item {
    display: inline-block;
}

img {
    width:100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 400%;
}

.button {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 300%;
    margin-left: 21px;
}

.button:hover:not(.active) {
    background-color: #111;
}

.info {
    /*padding: 10%;*/
    font-size: 300%;
}

.painting_title {
    font-weight: bold;
    text-align: center;
    font-size: 300%;
}

.painting_price {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

