body {
    background-color: rgba(102, 110, 111, 0.38);
    margin: 0;
    font-family: "Calibri Light";
}
ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*.grid {*/
/*    text-align: center;*/
/*}*/

/*.item {*/
/*    display: inline-block;*/
/*}*/