body {
    background-color: rgba(102, 110, 111, 0.38);
    margin: 0;
    font-family: "Calibri Light";
}
ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.grid {
    text-align: center;
}


.title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    float: left;
    padding-left: 10px;
}

.error {
    color: red;
}

h1 {
    text-align: center;
    font-size: 400%;
}

p {
    text-align: center;
}

.text {
    font-size: 300%;
}

.boxes input {
    height:3rem;
    width:20rem;
    font-size: large;
}

.submit {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    margin-right: 0.7rem;
}

.submit:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}