body {
    background-color: rgba(102, 110, 111, 0.38);
    margin: 0;
    font-family: "Calibri Light";
}
ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    float: left;
    padding-left: 10px;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.grid {
    display: grid;
    grid-auto-rows: minmax(470px, auto);
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 500px);
    grid-gap: 70px;
    padding: 20px;
    justify-content: center;
}

.item {
    background-color: rgba(102, 110, 111, 0.41);
    font-size: 20px;
    border: 2px solid grey;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.43);
}

img {
    width:100%;
    height: 100%;
}

.photo {
    height:60%;
}

.button {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    margin-left: 21px;
}

.button:hover:not(.active) {
    background-color: #111;
}

.painting_title {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.painting_price {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
}


